<div class="portfolio-holder">
  <h2>Portfolio</h2>
  <h2>|</h2>
  <h2><%= current_user.username %></h2>

  <div class="portfolio-equity">
    <h3>$<%= @total_equity %></h3>
    <hr>
    <h4>Total Equity</h4>
  </div>

  <div class="portfolio-leaderboard">
    <% @leaderboard.each do |entry| %>
      <div>
        <div id="leaderboard-display" class="sm-stock-display">
          <span> <% if @leaderboard.find_index(entry) == 0 %> <%="♛"%>  <%end%> #<%= @leaderboard.find_index(entry) + 1 %></span>
          <span>|</span>
          <span class=""><%= entry[0] %></span>
          <span>|</span>
          <span class="">Equity: $<%= entry[1] %></span>
        </div>
      </div>
    <% end %>

  </div>
  <% if @stocks.length >= 1 %>
    <div class="portfolio-positions">
      <h3>Positions</h3>
      <hr>
      <div class="positions">
        <% list_counter = 0 %>
        <% @stocks.each do |s| %>
          <% list_counter += 1 %>
          <% if list_counter == 1 %>
            <div class="sm-stock-holder">
          <% end %>

          <% if list_counter == 5 %>
            </div>
            <div class="sm-stock-holder">
          <% end %>

          <div class="sm-stock-display">
            <span class="symbol"><%= link_to s[:symbol], stock_path(s[:stock_id]) %></span>
            <span class="price">$<%=s[:equity]%></span>
            <span class="trade"><%= link_to "Trade", stock_path(s[:stock_id]) %></span>
          </div>


          <% if list_counter == @stocks.length %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>

  <% end %>
  <% if @trades.length >= 1 %>
    <div class="portfolio-trades">
      <h3>Trade History</h3>
      <hr>
      <% @trades = @trades.to_a.reverse %>
      <% @trades.each do |t| %>
        <div>
          <div class="sm-stock-display">
            <span class="symbol"><%= link_to t[:symbol], stock_path(Stock.find_by_symbol(t[:symbol])) %></span>
            <span class="price"><% if t[:quantity].positive? %> <%= "-"%><%else%><%="+"%><%end%>$<%=t[:price]-%></span>
            <span class="quantity">Qty | <%= t[:quantity] %></span>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
    <div class="buy-stocks-prompt">
      <%= link_to "Buy Stocks", stocks_path %>
    </div>
  <% end %>
</div>
