<% if flash[:error] %>
  <div class="<%= flash[:error]["class"] %>">
  <%=   flash[:error]["msg"] %>
  </div>
<% end %>

<% if @stocks.any? %>
  <% list_counter = 0 %>

  <% @stocks.each do |stock| %>

  <% if stock.gain == true %>
    <% gain_or_loss = "triangle-gain"%>
    <% triangle = "\u25B2"%>
  <% else %>
    <% gain_or_loss = "triangle-loss" %>
    <% triangle = "\u25BC"%>
  <% end %>

    <% list_counter += 1 %>
    <div class="sm-stock-display">
      <span class="symbol"><%= link_to stock.symbol, stock_path(stock) %></span>
      <span class="price">$<%= stock.current_price.round(2) %><span class="<%=gain_or_loss%>"><%= triangle %></span></span>
      <span class="trade"><%= link_to "Trade", stock_path(stock) %></span>
    </div>

  <% end %>
<% else %>
  <h2>Sorry, something went wrong...</h2>
<% end %>
