<div class="stock-data" data-stock-object="<%= @stock.to_json %>"></div>
<%# Something is going horribly wrong with the time from the API -> DB -> Javascript %>
<% values_times = [] %>
<% @values.each do |v| %>
  <% values_times.push(v.log_time.to_s) %>
<% end %>
<div class="stock-values-times" data-stock-values-times="<%= values_times.to_json %>"><div>
<div class="stock-values-object" data-stock-values-object="<%= @values.to_json %>"></div>


<% if @stock.gain == true %>
  <% gain_or_loss = "triangle-gain"%>
  <% triangle = "\u25B2"%>
<% else %>
  <% gain_or_loss = "triangle-loss" %>
  <% triangle = "\u25BC"%>
<% end %>


<div class="chart-holder">
  <div class="stock-header">
    <div class="stock-header-left">
      <h3><%= @stock.symbol %></h3>
      <h3>|</h3>
      <h3><%= @stock.name %></h3>
    </div>
    <div class="stock-header-right">

      <h3>Current Price: $<%= @stock.current_price %><div class="<%= gain_or_loss %>"><%= triangle.force_encoding('utf-8') %></div></h3>
      <h3>|</h3>
      <h3>Volume: <%= @stock.volume %></h3>
    </div>
  </div>
  <canvas id="stock-chart"></canvas>
</div>

<% if current_user %>
  <div class="stock-buy-sell">
  <div class="stock-holdings">
    <div class="stock-holding-left">
      <h3>Shares:</h3>
      <h3><%= @portfolio[0]["shares"] %></h3>
    </div>
    <div class="stock-holding-right">
      <h3>Current Equity Value:</h3>
      <h3>$<%= @equity %></h3>
    </div>
  </div>
  <div class="stock-buy-sell-form">
    <h3>Buy Shares</h3>
    <%= form_with(url: stock_trades_path(@stock), method: :post) do %>
      <%= label_tag "Quantity" %>
      <%= number_field_tag :buy_qty %>
      <%= submit_tag "Buy" %>
    <% end %>
    <h3>Sell Shares</h3>
    <%= form_with(url: stock_trades_path(@stock), method: :post) do %>
      <%= label_tag "Quantity" %>
      <%= number_field_tag :sell_qty %>
      <%= submit_tag "Sell" %>
    <% end %>
  </div>
  </div>
<% end %>
  <div class="stock-info">
    <div class="stock-info-left">
      <h3>Daily Open: <span class="focus-in-expand">$<%= @stock.daily_open %></span></h3>
      <h3>Daily High: <span class="focus-in-expand">$<%= @stock.daily_high %></span></h3>
      <h3>Daily Low: <span class="focus-in-expand">$<%= @stock.daily_low %></span></h3>
      <h3>Daily close: <span class="focus-in-expand">$<%= @stock.daily_close %></span></h3>
    </div>
    <div class="stock-info-mid">
      <h3>Monthly Open: $<%= @stock.monthly_open %></h3>
      <h3>Monthly High: $<%=@stock.monthly_high %></h3>
      <h3>Monthly Low: $<%= @stock.monthly_low %></h3>
      <h3>Monthly Close: $<%= @stock.monthly_close %></h3>
    </div>
    <div class="stock-info-right">
      <h3>Yearly High:$<%= @stock.yearly_high %></h3>
      <h3>Yearly Low: $<%= @stock.yearly_low %></h3>
    </div>
  </div>

</div>
